/*
Initial Config
*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

/*
Layout
*/
body{
    display: flex;
    height: 2000px; /*so pra testar a rolagem do menu*/
}
body::-webkit-scrollbar{
    width: 7px;
    background: #e7e7e7;
}
body::-webkit-scrollbar-thumb{
    background: #bfbfbf;
    border-radius: 10px;
}
aside.left--menu{
    width: 220px;
    position: relative;
    top: 0;
    left: 0;
    background-color: #FFF;
    display: block;
}
main{
    background-color: #FFF;
    flex:1;
}
.container{
    max-width: 1070px;
    margin: auto
}
.btn--edit{
    background-color: #ed7839;
    border-radius: 3px;
}
.content--box{
    border: solid #ececec 1px;
    border-radius: 4px;
}
.box--title{
    background-color: #fdf1eb;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 15px;
}

/*
Left-menu
*/
.menu--content{
    position: fixed;
    top: 0; 
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: 100vh;
}
.menu--content div:first-child{
    height: 70px;
    background-color: #f48e43;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu--content div:first-child a{
    color: #FFF;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}
nav li{
    border-bottom: 2px #e7e7e7 solid;
}
nav li a{
    display: block;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    color: #725c5c;
    padding: 7px 0 7px 24px;
}
nav a.active{      
    border-left: 5px solid;
    border-image: linear-gradient(#ffb355, #ee7b3a);
    border-image-slice: 1;
    background-color: #fdf1eb;
}
nav a:hover{
    background-color: #fdf1eb;
}

/*
Menu mobile
*/
.menu--mobile{
    background-color: #f48e43;
    opacity: 0.9;
    position: fixed;
    top: 5%;
    padding: 12px 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: none;
    text-align: center;
    font-size: 10px;
    color: #FFF
}

/*
Header left
*/
header{
    background-color: #fdf1eb;
    min-height: 70px;
}
header div.container{
    height:inherit;
    display: flex;
    justify-content: space-between;
    align-items: space-evenly;
    flex-wrap: wrap-reverse;
}
.header--left h1, .header--left h2, .header--left h3{
    font-weight: 400;
    color: #725c5c;
}
.header--left h2, .header--left h3{
    font-size: 15px;
}
.header--left h1{
    font-size: 21px;
}

/*
Header right
*/
.header--right{
    height: inherit;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #333;
}
.header--right .user--photo div{  
    width: 35px;
    height: 35px;
    border-radius: 20px;
}
.header--right .user--photo img{
    height: inherit;
    width: inherit;
    border-radius: inherit;
}
.header--right .alert{
    display: inline-block;
    height: 12px;
    width: 12px;
    line-height: 15px;
    text-align: center;
    border-radius: 8px;
    background-color: red;
    color: #FFF;
    font-weight: 700;
    font-size: 8px;
    position: relative;
    bottom: 45px;
    left: 25px;
}
.header--right .user--info{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 7px;
}
.header--right .user--info h4{
    font-size: 15px;
    font-weight: 400;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
}
.header--right .user--info span{
    font-size: 12px;
    font-weight: 400;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
}
.header--right .language{
    border: solid #CCC 1px;
    border-radius: 5px;
    height: 32px;
    width: 95px;
    display: flex;
    margin-right: 20px;
}
.header--right .language select,.header--right .language option{
    background-color: #fdf1eb;
    border:none;
    outline: none;
    width: 93px;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    color: #4c4b4a;
}
.header--right .language img{
    width: 23px;
}

/*
Section info content
*/
.content--info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 15px;
}

.content--info>div>h1{
    max-width: 785px;
    font-size: 20px;
    font-weight: 900;
    color: #ed7839;
    padding-bottom: 20px;
    letter-spacing: 0.8px;
}
.content--info {
    flex: 1;
}

/*
Button Download / Star / Doi
*/
.button--area{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.button--area .download{
    padding: 5px 15px;
    text-decoration: none;
    color: #FFF;
    font-weight: 500;
    font-size: 15px;
    margin-right: 5px;
}
.button--area .download img{
    margin-right: 8px;
}
.button--area .star, .button--area .doi{
    padding: 0 12px;
}
.button--area .star{
    margin-right: 5px;
}
.button--area .star img, .button--area .doi img{
    position: relative;
    top: 5px
}
.content--info>div>a{
    font-size: 14px;
    text-transform: uppercase;
    color: #ed7839;
    font-weight: 500;
    letter-spacing: 0.6px;
    text-decoration: none;
    display: block;
    padding-bottom: 10px;
}

/*
Video
*/
.video>iframe{
    width: 790px;
    height: 440px;
    overflow: hidden;
    position: absolute;
}
.video .opacity--video{
    width: 783px;
    height: 440px;
    background-color: rgba(140, 50, 6, 0.5);
    border-radius: 3px;
    position: relative;
    top: 0;
    left: 0;
}
/*
Video opacity
*/
.opacity--video{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px 0 50px 36px;
}
.opacity--video .title--video{
    font-size: 24px;
    font-weight: 900;
    color: #FFF;
    letter-spacing: 1px;
}
.video--author--info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.video .img--video{
    height: 80px;
    width: 80px;
    border-radius: 40px;
    border: solid #e37337 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video .img--video img{
    height: 70px;
    width: 70px;
    border-radius: inherit;
}
.author--video{
    margin-left: 20px;
}
.author--video h2{
    font-size: 33px;
    font-weight: 900;
    color: #FFF;
    letter-spacing: 2px;
}
.author--video h3{
    font-size: 18px;
    font-weight: 900;
    color: #FFF;
    letter-spacing: 2px;
}

/*
Aside video
*/
.aside--video{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 30px;
}
.aside--video .content--box{
    flex: 1;
    width: 100%;
}
/*
Details
*/
.aside--video .details{
    overflow-x: auto;    
   overflow-y: scroll;
   height: 365px;
}
.aside--video .details ul{
    margin: 0 15px 25px 15px;
}
.aside--video .details ul li{
    list-style: none;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #5c5c5c;
}
.aside--video .details ul span{
    font-weight: 500;
}

/*
Author details
*/
.aside--video .details ul.author li{
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 19px;
}
/*
Institution details
*/
.aside--video .details ul.institution{
    margin-top: 30px;
}
.aside--video .details sup{
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    font-size: 7px;
}
.aside--video .details ul.institution li{
    font-size: 12px;
}

/*
Config scroll details
*/
.aside--video .config--scroll{
    padding: 10px 5px 20px 0px;
}
.details::-webkit-scrollbar {
    width: 3px;
    background: #e7e7e7;   
}
.details::-webkit-scrollbar-thumb {
    background: #bfbfbf;
    border-radius: 10px;
}
.details::-webkit-scrollbar-track {
    border-radius: 10px;
}





